# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.pkl

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Environments
.env
.venv
env/
venv/
pip-log.txt
poetry.lock

# OS files
.DS_Store
Thumbs.db

# === DATA ===
data/raw/*
data/processed/*
data/external/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep

# === MODELS ===
models/checkpoints/*

!models/checkpoints/.gitkeep

